.card-container {
    aspect-ratio: .7 / 1;
    padding: 0;
    opacity: 0;
    perspective: 1000px;
    animation: fadeInUp 0.5s forwards;
}

.card-content {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(180deg);
}

#card-grid img {
    width: 100%;
    height: 100%;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
