@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

:root {
    --c-background: hsl(226, 57%, 30%);
    --c-light: hsl(214, 32%, 91%);
    --c-dark: hsl(217, 33%, 17%);
    --c-primary: hsl(221, 83%, 53%);
    --c-primary-darken-1: hsl(221, 83%, 50%);
    --c-primary-darken-2: hsl(221, 83%, 35%);
    --c-accent: hsl(43, 96%, 56%);
    --c-danger: hsl(0, 90%, 63%);
    --c-danger-darken-1: hsl(0, 90%, 60%);
    --c-danger-darken-2: hsl(0, 90%, 45%);
}

html {
    height: 100vh;
}

body {
    min-height: 100%;
    font-family: "Press Start 2P", serif;
    color: var(--c-light);
    line-height: 1.5;
    background: var(--c-background) url("../images/bg.svg") no-repeat center / cover;
    -webkit-font-smoothing: antialiased;
}

.txt-accent {
    color: var(--c-accent);
}

.txt-light {
    color: var(--c-light);
}

.nes-container.is-rounded.is-dark {
    background: transparent !important;
}

.button {
    padding: 1rem 1.8rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Coiny", serif;
    text-transform: uppercase;
    border-radius: 14px;
    color: var(--c-light);
    background: var(--c-primary);
    border: none;
    cursor: pointer;
    box-shadow: inset 0 -.25em 0 0 var(--c-primary-darken-2);
}

.button:hover {
    background: var(--c-primary-darken-1);
    box-shadow: inset 0 -.20em 0 0 var(--c-primary-darken-2);
}

.button.danger {
    background: var(--c-danger);
    box-shadow: inset 0 -.25em 0 0 var(--c-danger-darken-2);
}

.button.danger:hover {
    background: var(--c-danger-darken-1);
    box-shadow: inset 0 -.20em 0 0 var(--c-danger-darken-2);
}

.button.btn-small {
    font-size: 1rem;
    padding: .6rem .8rem;
    border-radius: 10px;
}
